[Desktop Entry]
Type=Application
Name=Screenshot Hero
Comment=Linux-native screenshot annotation application
Exec=screenshot-hero
Icon=dev.codethings.schero
Terminal=false
Categories=Graphics;
StartupNotify=true
